.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20 0 20px;
    padding: 0 20 0 20px;
    
}

.button{
    align-items: center;
    justify-content: center;
    margin: 0 20 0 20px;
    padding: 3px 20px;
}
.button:hover{
    background-color: rgb(209, 208, 208);
    transition: 1s all ease-out;
}


.input{
  
  margin: 10px;
  padding: 3px;

}

